:root{
    --primary-color: #2563eb;
    --primary-dark: #1d4ed8;
    --secondary-color: #6b7280;  
    --success-color: #10b981;
    --danger-color: #ef4444;
    --warning-color: #f59e0b;
    --info-color: #3b82f6;

}